<mat-toolbar *ngIf="isLoggedIn$ | async as isLoggedIn">
  <mat-toolbar-row>
    <span>SmartBiz Test Case</span>
    <span class="menu-spacer"></span>
    <div>
      <a href="#" mat-button *ngIf="isLoggedIn">{{ user ? user.username : "" }}</a>
      <a routerLink="/employees" mat-button>Employee</a>
      <a
        *ngIf="isLoggedIn"
        mat-icon-button
        matTooltip="Logout"
        (click)="logout()"
      >
        <mat-icon>login</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
