.example-container {
  margin: 2rem !important;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

h1{
  text-align: center;
  padding-top: 10px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
