<div class="example-container mat-elevation-z8">
  <h1>Employees</h1>
  <button
  style="margin: 10px;"
    matTooltip="Add"
    mat-raised-button
    class="save-button"
    aria-label="SAVE"
    color="primary"
    (click)="onEdit(0)"
  >
    Add
  </button>

  <mat-table #table [dataSource]="dataSource.rows" [class.isMobile]="">
    <ng-container matColumnDef="nip">
      <mat-header-cell *matHeaderCellDef> NIP </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">NIP:</span>
        {{ element.nip }}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="full_name">
      <mat-header-cell *matHeaderCellDef> Fullname </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Fullname:</span>
        {{ element.full_name }}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Email:</span>
        {{ element.email !== null ? element.email : "-" }}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Contact:</span>
        {{ element.mobile }} / {{ element.phone }}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="birth_date">
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">DOB:</span>
        {{ element.birth_date | date: "dd/MM/yyyy" }}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Adress </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Adress:</span>
        {{ element.address }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Action:</span>
        <mat-icon
          style="padding-right: 4px; cursor: pointer"
          matTooltip="Edit"
          (click)="onEdit(element.id)"
          >edit</mat-icon
        >
        <mat-icon
          style="cursor: pointer"
          matTooltip="Delete"
          (click)="onDelete(element.id)"
          >delete</mat-icon
        >
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="dataSource.meta.total"
    [pageSize]="dataSource.meta.perpage"
    [pageSizeOptions]="[2, 5, 10, 25, 100]"
    (page)="pageEvent = $event; onPaginateChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
