<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span>{{ action }} Employee</span>
      <button
        mat-icon-button
        [mat-dialog-close]
        aria-label="Close dialog"
        matTooltip="Close"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input type="text" matInput placeholder="NIP" formControlName="nip" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input
            type="text"
            matInput
            placeholder="Fullname"
            formControlName="full_name"
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input
            type="text"
            matInput
            placeholder="Nickname"
            formControlName="nick_name"
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="DOB"
            formControlName="birth_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <textarea
            style="height: 50px"
            matInput
            placeholder="Alasan"
            placeholder="Address"
            formControlName="address"
          ></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input
            type="text"
            matInput
            placeholder="Phone"
            formControlName="phone"
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input
            type="text"
            matInput
            placeholder="Mobile"
            formControlName="mobile"
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      matTooltip="SAVE"
      mat-button
      class="save-button"
      aria-label="SAVE"
      color="primary"
      cdkFocusInitial
      (click)="onSave()"
    >
      Save
    </button>
    <button
      [mat-dialog-close]
      matTooltip="CANCEL"
      mat-button
      class="save-button"
      aria-label="CANCEL"
      color="warn"
    >
      Cancel
    </button>
  </div>
</div>
