<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form name="loginForm" [formGroup]="loginForm" novalidate>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="identity"
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </div>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>

      <button
        mat-raised-button
        color="accent"
        class="submit-button"
        aria-label="LOGIN"
        (click)="login()"
      >
        LOGIN
      </button>
    </form>
  </mat-card-content>
</mat-card>
